.card {
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  /* font-size: 30px; */
  text-align: center;
  padding: 30% 5%;
  background-color: #383d42;
  color: #fff;
  border-radius: 0;
}

.title {
  font-size: 25px;
  font-weight: 700;
  margin: 10px;
}

.detail {
  font-size: 15px;
  font-weight: 500;
}

.card:hover {
  background-color: #5c5f63;
}
