.sec {
  display: grid;
  /* grid-row: auto; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: #7a7a7a;
  padding: 50px 8rem 40px 8rem;
  margin-bottom: 0;
  list-style: none;
}

.sec li:nth-child(2n) {
  background-color: #000;
}

@media (width < 620px) {
  .sec {
    display: grid;
    /* grid-row: auto; */
    grid-template-columns: 1fr;
    width: 100%;
    background-color: #7a7a7a;
    padding: 50px 0rem 40px 0rem;
    margin-bottom: 0;
  }
}
