footer {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin: 0 30px;
  color: #a2b5cd;
}

footer.top {
  border-bottom: 2px solid #3a4f6a;
  padding-bottom: 20px;
}

footer.top .links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

footer a {
  color: #a2b5cd;
  text-decoration: none;
  line-height: normal;
}

footer.bottom {
  padding: 20px 0;
  justify-content: space-between;
}

footer .links > div {
  display: grid;
  gap: 10px;
  margin-bottom: 30px;
}

footer h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #f7f7f7;
}

footer .legal {
  font-size: 12px;
}

footer .legal > span {
  margin-right: 10px;
}

@media (width < 620px) {
  footer {
    flex-direction: column;
  }
  footer.bottom {
    gap: 16px;
    flex-direction: column-reverse;
  }
}

@media (width >= 620px) {
  footer.top {
    margin: 30px auto 0 auto;
    max-width: 80%;
    padding: 0;
  }

  footer.bottom {
    margin: 0 auto;
  }
}

@media (width < 900px) {
  footer {
    text-align: start;
    align-items: center;
  }
  footer.top .links {
    grid-template-columns: 1fr;
    /* align-items: start; */
  }
  footer.bottom {
    align-items: center;
  }

  footer .legal > span {
    display: block;
    margin-right: 0;
    margin-bottom: 2px;
  }
}
